:root {
    --unit: 16px;
   }
   
   body {
    background-color: rebeccapurple;
    height: 100vh;
   }
   
   .container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
   }
   
   .yoda {
    align-items: center;
    display: flex;
    flex-direction: column;
   }
   
   
   /** HEAD **/
   
   .head {
    align-items: flex-end;
    display: flex;
   }
   
   .forehead {
    background-color: greenyellow;
    border-left: var(--unit) solid green;
    border-right: var(--unit) solid green;
    height: var(--unit);
    margin-top: calc(var(--unit) * 2);
    position: relative;
    width: calc(var(--unit) * 6);
   }
   
   .forehead:before {
    background-color: black;
    content: "";
    height: var(--unit);
    position: absolute;
    top: calc(var(--unit) * 2 * -1);
    width: calc(var(--unit) * 6);
   }
   
   .forehead:after {
    background-color: greenyellow;
    background-image: repeating-linear-gradient(to right,  
      green,
      green var(--unit),
      greenyellow var(--unit),
      greenyellow calc(var(--unit) * 5)
    );
    border-left: var(--unit) solid black;
    border-right: var(--unit) solid black;
    content: "";
    height: var(--unit);
    left: calc(var(--unit) * -1);
    position: absolute;
    top: calc(var(--unit) * -1);
    width: calc(var(--unit) * 6);
   }
   
   .face {
    background-color: greenyellow;
    display: flex;
    height: calc(var(--unit) * 3);
    justify-content: space-around;
    width: calc(var(--unit) * 8);
   }
   
   .eye {
    background-color: black;
    height: calc(var(--unit) * 2);
    position: relative;
    width: calc(var(--unit) * 2);
   }
   
   .eye:before {
    background-color: white;
    content: "";
    height: var(--unit);
    position: absolute;
    width: var(--unit);
   }
   
   .ear {
    background-color: transparent;
    border-top: var(--unit) solid black;
    height: calc(var(--unit) * 3);
    position: relative;
    width: calc(var(--unit) * 5);
   }
   
   .ear:before {
    background-color: greenyellow;
    border-left: var(--unit) solid black;
    box-shadow: var(--unit) 0 green inset;
    content: "";
    height: var(--unit);
    position: absolute;
    width: calc(var(--unit) * 4);
   }
   
   .ear .lobe {
    background-color: transparent;
    height: calc(var(--unit) * 2);
    margin-top: var(--unit);
    position: relative;
    width: calc(var(--unit) * 5);
   }
   
   .ear .lobe:before,
   .ear .lobe:after {
    background-color: orchid;
    border-left: var(--unit) solid black;
    content: "";
    height: var(--unit);
    margin-left: var(--unit);
    position: absolute;
    width: calc(var(--unit) * 3);
   }
   
   .ear .lobe:after {
    left: var(--unit);
    top: var(--unit);
    width: calc(var(--unit) * 2);
   }
   
   .ear.right {
    transform: scaleX(-1);
   }
   
   
   /** BODY **/
   
   .body .top {
    background-color: darkgoldenrod;
    border-left: var(--unit) solid black;
    border-right: var(--unit) solid black;
    height: calc(var(--unit) * 2);
    position: relative;
    width: calc(var(--unit) * 10);
   }
   
   .body .top:before {
    background-color: saddlebrown;
    content: "";
    height: calc(var(--unit) * 2);
    left: calc(var(--unit) * 6);
    position: absolute;
    width: var(--unit);
    z-index: 2;
   }
   
   .body .top:after {
    background-image: repeating-linear-gradient(to right,  
      saddlebrown,
      saddlebrown var(--unit),
      darkgoldenrod var(--unit),
      darkgoldenrod calc(var(--unit) * 9)
    );
    content: "";
    height: var(--unit);
    position: absolute;
    top: var(--unit);
    width: calc(var(--unit) * 10);
    z-index: 1;
   }
   
   .body .bottom {
    background-color: sandybrown;
    border-left: var(--unit) solid black;
    border-right: var(--unit) solid black;
    height: calc(var(--unit) * 4);
    left: var(--unit);
    position: relative;
    width: calc(var(--unit) * 8);
    z-index: 1;
   }
   
   .body .bottom .fold {
    background-color: transparent;
    border-left: var(--unit) solid darkgoldenrod;
    border-right: var(--unit) solid darkgoldenrod;
    height: calc(var(--unit) * 3);
    left: var(--unit);
    position: relative;
    width: calc(var(--unit) * 4);
    z-index: 1;
   }
   
   .body .bottom .fold:before {
    background-color: transparent;
    border-left: var(--unit) solid darkgoldenrod;
    border-right: var(--unit) solid darkgoldenrod;
    content: "";
    height: var(--unit);
    position: absolute;
    top: calc(var(--unit) * 3);
    width: var(--unit);
   }
   
   .body .bottom .fold:after {
    background-color: darkgoldenrod;
    content: "";
    height: var(--unit);
    left: calc(var(--unit) * 2);
    position: absolute;
    top: calc(var(--unit) * 2);
    width: var(--unit);
   }
   
   .shadow {
    background-color: indigo;
    height: calc(var(--unit) * 3);
    position: relative;
    top: calc(var(--unit) * 2 * -1);
    width: calc(var(--unit) * 12);
    z-index: 0;
   }
   
   .shadow:before {
    background-color: inherit;
    content: "";
    height: var(--unit);
    left: calc(var(--unit) * -1);
    position: absolute;
    top: var(--unit);
    width: calc(var(--unit) * 14);
    z-index: 0;
   }
   
   